.jumbotron {
    padding-top: 5rem;
    background-color: #aac8f7;
    overflow: hidden;
}

.jumbotron img {
    box-shadow: 1px 1px 10px rgba(58, 30, 218, 0.842);
}

.jumbotron h1,
.jumbotron p {
    text-shadow: 1px 1px 10px rgba(58, 30, 218, 0.842);
}

#galery,
#contact {
    background-color: #aac8f7;
}

/* galery parralax */

.galery .card {
    opacity: 0;
    transition: 0.5s;
    transform: translate(0, -40px);
}

.galery .card.visible {
    opacity: 1;
    transform: translate(0, 0);
}

/* testimoni parralax */

.testimoni .card {
    opacity: 0;
    transition: 0.5s;
    transform: translate(0, -40px);
}

.testimoni .card.visible {
    opacity: 1;
    transform: translate(0, 0);
}



a {
    color: black;
    padding-right: 0.7rem;
}

a:hover {
    color: rgb(118, 150, 238);
}

section {
    padding-top: 5rem;
}


@media (max-width: 768px) {
    #contact form {
        width: 60%;
    }
}